header {
    background-color: grey;
    height: 100px;
    padding-top: 15px;
    padding-left: 15px;
}

.box {
    background-color: blue;
    height: 75px;
    width: 75px;
}

main {
    background-color: white;
    height: 100px;
    padding: 50px;
}

.blue {
    background-color: blue;
    height: 100px;
}

.teal {
    background-color: teal;
    height: 100px;
}

.green {
    background-color: green;
    height: 100px;
}

.yellow {
    background-color: yellow;
    height: 100px;
}